@import "_icons.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
$roboto-font: "Roboto";
$headline-color: #A6A6A6;
$paragraph-color: #333333;
$border-color: #E3E3E3;
$button-color: #F58220;
$white-color: #FFFFFF;

* {
    box-sizing: border-box;
}

body {
  background-color: #F5F5F2;
  color: #B8B8B8;
}

main section {
  display: none;
}

main section.active {
  display: block;
}
/*headlines*/
h5 {
  font-size: 16px;
  line-height: 42px;
  color: $headline-color;
  font-family: $roboto-font;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  line-height: 42px;
  color: $headline-color;
  font-family: $roboto-font;
  font-weight: 700;
}
/*paragraph*/
p {
  font-size: 16px;
  line-height: 42px;
  color: $headline-color;
  font-family: $roboto-font;
  font-weight: 700;
}

/*center for main*/
.main {
  margin: 70px 30px 30px 230px;
  width: auto;
  background-color: #FFFFFF;
}

.main-center {
  width: 80%;
  margin: 0 auto;
}

.main-center-border {
  border-bottom: 1px solid $border-color;
}

main section {
  display: none;
}

main section.active {
  display: block;
}

h5 {
  border-bottom: 1px solid $border-color;
  padding: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
/*topbar*/
.topbar {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFF;
  border-bottom: 1px solid $border-color;
}

.topbar header {
  float: right;
}

.topbar header img {
  width: 18px;
}

.topbar {
  ul {
    li {
      display: block;
      float: left;

      a {
        float: right;
        color: #F2F2F2;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        font-size: 17px;
        border-left: 0.5px solid #E3E3E3;
      }

      &:hover {
       color: #E3E3E3;;
      }

      &:active {
        color: #FFFF;
      }
    }
  }
}

/*navigation bar*/
.sidebar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 200px;
  height: 180%;
  background:#151719;
  transition: all 500ms linear;
  z-index: 1;
}

.sidebar.active {
  width: 80px;
}

.sidebar.active ul li a {
  display: none;
}

.sidebar.active .logo {
  display: none;
}

.sidebar {
  .logo {
    padding: 20px 10px;
    display: inline;
  }
  .active h3 {
    display: none;
  }
}

.sidebar {
  ul {
    padding-left: 10px;

    li {
      white-space: nowrap;
      color: #FFFFFF;
      list-style: none;
      text-decoration: none;
      padding: 15px 10px;

      a {
        text-decoration: none;
        color: #999;
      }
    }
  }
}

.sidebar ul li img {
  width: 20px; 
}

.sidebar {
  .toggle-btn {
    cursor: pointer;
    float: right;
    span {
      display: block;
      width: 30px;
      height: 5px;
      background: #999;
      margin: 5px 0;
    }
  }
} 

/*hamburger button*/
.button-container {
  display: inline-block;
  width: 100%;
  padding: 20px 10px 10px;
}

.button-container h3 {
  display: inline;
}
/*data*/
.data {
  text-align: center;
  padding: 35px 0;
}

.data p {
  display: inline-block;
  text-align: center;
  border: 0.5px solid #B8B8B8;
  padding: 8px;
}

.data button {
  display: inline-block;
}

.data img {
  background-color: #F58220;
  text-align: center;
  padding: 5px;
}

.btn-refresh {
  width: 41px;
  height: 40px;
  border-radius: 3px;
  background-color: $button-color;
  span {
    color: $white-color;
  }
}

.details-table {
  width: 100%;
}

/*calendar*/
.calendar {
  padding: 4px;
  border: 0.6px solid #B8B8B8;
  display: inline-block;
  position: relative;
  border-radius: 4px;
}
.calendar input {
  border: none;
}

.vertical-line {
    background-color: #B8B8B8;
    position: absolute;
    height: 23px;
    width: 1px;
    left: 43%;
    top: 19%;
}

/*chart*/
.chart {
  p {
    border-bottom: 1px solid $border-color;
    span  {
      float: right;
    }
  }
}

/*button-links*/
.button-links {
  text-align: center;
   a {
    background-color: #F58220;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
  }
}
/*links*/
.links {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.row::before, 
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}

@media (max-width: 1199px){
    /* For tablets: */
  .sidebar .logo {
    width: 100%;
  }

   h5 {
      width: 100%;
  }
}

@media(max-width: 767px) {
  /*small devices*/
  header {
    height: auto;    
  }

  .main-center {
    width: 100%;
  }

  .main {
    margin-left: 90px; 
  }

  .topbar {
    position: fixed;
  }

  .sidebar .toggle-btn {
    margin-left: 5px;
    float: none;
  }

  .sidebar {
    display: block;
    float: none;
  }
  
  .sidebar {
    width: 60px;
    height: auto;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar a {
    display: none;
  }

  .sidebar.active {
    width: 100%;
    ul li a {
      display: inline-block;
    }

    h3 {
      display: inline-block;
    }
  }
}

@media(max-width: 470px) {
  .sidebar {
    width: 80px;
  }

  .sidebar ul li a {
    display: none;
  }

  .sidebar .logo {
    display: none;
  }
}

@media not all and (hover: none) {
  .topbar a:hover {
    background-color: #313234;
    opacity: .5;
  }
}
