import "variables";
import "mixins";
import "normalize";
import "layout";
/* Components */
import "componts/form_field";
/* Sections */
import "section/registration_form";
/* Pages / Views */
import "pages/registration";

* {
    box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
}

main {
  max-width: 100%;
  width: auto;
}

.app {
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  max-width: 1200px;
}

.topbar {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    float: right;
    text-transform: uppercase;
}

.topbar {
	li {
    	display: block;
    	float: left;
	}

	li {

		a {
		    float: right;
		    color: #f2f2f2;
		    text-align: center;
		    padding: 0 16px;
		    text-decoration: none;
		    font-size: 17px;
		}

		&a:hover {
    		color: black;
		}

		&a.active {
		    color: white;
		}
	}
}

.sidebar {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 80px;
  height: 100%;
  background:#151719;
  transition: all 500ms linear;
}

.sidebar{
	&.active {
  		width: 200px;
  	}

	ul li {
	  	white-space: nowrap;
	  	color: #FFFFFF;
	  	list-style: none;
	  	text-decoration: none;
	  	padding: 15px 10px;
	}

	h3 {
	  	color: #FFFFFF;
	  	padding: 15px 10px;
	}

	.toggle-btn {
		cursor: pointer;
	} 

	.toggle-btn span {
		display: block;
		width: 30px;
		height: 5px;
		background: #151719;
		margin: 5px 0;
	}
}

h5 {
  border-bottom: 1px grey solid;
}

.row::before, 
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}

.col-1 {
   width: 8.33%; 
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {  
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

header, footer, {
    text-align: center;
    Font-size: 20px;
}

@media (max-width: 1199px){
    /* For tablets: */
    
    .aside {
        float: none;
        display: inline-block;
    }
    
    h3, h5 {
        width: 100%;
    }
    
    .col-m-1 {
        width: 8.33%;
    }
    
    .col-m-2 {
        width: 16.66%;
    }
    
    .col-m-3 {
        width: 25%;
    }
    
    .col-m-4 {
        width: 33.33%;
    }
    
    .col-m-5 {
        width: 41.66%;
    }
    
    .col-m-6 {
        width: 50%;
    }
    
    .col-m-7 {
        width: 58.33%;
    }
    
    .col-m-8 {
        width: 66.66%;
    }
    
    .col-m-9 {
        width: 75%;
    }
    
    .col-m-10 {
        width: 83.33%;
    }
    
    .col-m-11 {
        width: 91.66%;
    }
    
    .col-m-12 {
    width: 100%;
    }
}

@media(max-width: 767px) {
    /*small devices*/
    header {
        height: auto;    
    }
    
    #topbar, #sidebar {
        display: block;
        float: none;
    }
    
    .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    }

    #topbar a {
        display: block;    
    }
  
    #sidebar a {
        display: block;
    }
    
    .col-s-1 {
       width: 8.33%; 
    }
    
    .col-s-2 {
        width: 16.66%;
    }
    
    .col-s-3 {
        width: 25%;
    }
    
    .col-s-4 {
        width: 33.33%;
    }
    
    .col-s-5 {
        width: 41.66%;
    }
    
    .col-s-6 {
        width: 50%;
    }
    
    .col-s-7 {
        width: 58.33%;
    }
    
    .col-s-8 {  
        width: 66.66%;
    }
    
    .col-s-9 {
        width: 75%;
    }
    
    .col-s-10 {
        width: 83.33%;
    }
    
    .col-s-11 {
        width: 91.66%;
    }
    
    .col-s-12 {
        width: 100%;
    }
}

@media not all and (hover: none) {
    #topbar a:hover {
        background-color: #313234;
        opacity: .5;
    }
}