@font-face {
  font-family: 'Glyphter';
  src: url('../../fonts/Glyphter.eot') format('embedded-opentype'),
       url('../../fonts/Glyphter.woff') format('woff'),
       url('../../fonts/Glyphter.ttf')  format('truetype'),
       url('../../fonts/Glyphter.svg') format('svg');
}

.icon-glyphter {
  font-family: 'Glyphter';
}
