<section class="topbar">
  <header>
    <ul>
      <li class="wallet">
        <a href="#" class="topbar-wallet"
          ><span class="icon-wallet"></span>$1,500.00</a
        >
      </li>
      <li class="notification">
        <a href="#"><span class="icon-notification"></span></a>
      </li>
      <li>
        <a href="#" class="topbar-paragraph"
          ><span class="icon-profile"></span>Michal Wanta</a
        >
      </li>
      <li>
        <a href="#" class="active modal-link"
          ><span class="icon-quit"></span
        ></a>
      </li>
      <div class="modal grow" style="display: none;">
        <p>Click "close" below</p>
        <a href="#" class="close">close</a>
      </div>
      <div class="modal-bg" style="display: none;"></div>
    </ul>
  </header>
</section>
