<section class="sidebar" id="sidebar">
    <nav>
        <div>
            <div class="button-container">
                <div class="logo"><img class="img-fluid" src="./images/logo.png" alt="logoImage"></div>
                <div class=toggle-btn id="toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul>
                <li>
                    <span class="icon-general"></span>
                    <a href="#general">General</a>
                </li>
                <li>
                    <span class="icon-details"></span>
                    <a href="#details">Details</a>
                </li>
                <li>
                    <span class="icon-links"></span>
                    <a href="#links">Links</a>
                </li>
                <li>
                    <span class="icon-banners"></span>
                    <a href="#banners">Banners</a>
                </li>
                <li>
                    <span class="icon-personaldata"></span>
                    <a href="#personal-data">Personal data</a>
                </li>
                <li>
                    <span class="icon-payout"></span>
                    <a href="#payout">Payout</a>
                </li>
                <li>
                    <span class="icon-postback"></span>
                    <a href="#postback">Postback</a>  
                </li>
            </ul>
            <div class="your-manager">
                <h5>YOUR MANAGER</h5>
                <p><img class="img-fluid" src="./images/manager.png" alt="logoImage">Mikhael E.</p>
            </div>
        </div>
    </nav>
</section>