<!-- <section id="details">
    <div class="main main-margin-top">
        <h5>Details</h5>
        <div class="main-center data">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="calendar">
                            <input id="from-data" type="date" name="from-data" value="2018-01-01">
                            <span class="vertical-line"></span>
                            <input id="to-data" type="date" name="to-data" value="2018-01-02">
                            <span class="icon-calendar"></span>
                        </div>
                        <button class="btn-refresh btn-details">  
                            <span class="icon-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <table class="details-table">
                        <thead>
                            <tr>
                                <th>Tracker name</th>
                                <th>Initiated date</th> 
                                <th>Visits</th>
                                <th>Unique</th>
                                <th>Signups</th>
                                <th>FTD</th>
                                <th>Depositors</th>
                                <th>Deposits ($)</th>
                                <th>Payout</th>
                                <th>Turnover</th>
                                <th>Deal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jill</td>
                                <td>02.05.2018</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                </tr>
                                <tr>
                                <td>Jill</td>
                                <td>06.05.2018</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                </tr>
                                <tr>
                                <td>Jill</td>
                                <td>16.06.2018</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                </tr>
                                <tr>
                                <td>Jill</td>
                                <td>22.07.2018</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td> 
                                <td>50</td>
                                <td>Jill</td>
                                <td>Smith</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section> -->
