<section>
    <div id="links">
        <div class="main main-margin-top">
            <h5>Links</h5>
        </div>
    </div>
    <div id="banners">
        <div class="main main-margin-top">
            <h5>Banners</h5>
        </div>
    </div>
    <div id="personal-data">
        <div class="main main-margin-top">
            <h5>Personal Data</h5>
        </div>
    </div>
    <div id="payout">
        <div class="main main-margin-top">
            <h5>Payout</h5>
        </div>
    </div>
    <div id="postback">
        <div class="main main-margin-top">
            <h5>Postback</h5>
        </div>
    </div>
</section>