// topbar
.topbar {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  border-bottom: 1px solid $border-color;
  z-index: 1;

  header {
    float: right;

    img {
      width: 18px;
    }
  }

  ul {
    li {
      display: block;
      float: left;

      a {
        float: right;
        text-align: center;
        padding: 6px 16px;
        text-decoration: none;
        border-left: 0.5px solid $border-color;
        font-size: 20px;
        line-height: 42px;
        color: $paragraph-color;
        font-family: $roboto-font;
        font-weight: 400;

        span {
          margin-right: 9px;
          font-size: 16px;
        }

        &:hover {
          background-color: $border-color;
          color: $white-color;
        }

        &:active {
          color: $white-color;
        }
      }

      .topbar-paragraph {
        font-size: 13px;
        line-height: 42px;
        color: $name-color;
        font-family: $roboto-font;
        font-weight: 300;
      }

      .topbar-wallet {
        font-size: 20px;
        line-height: 42px;
        color: $paragraph-color;
        font-family: $roboto-font;
        font-weight: 400;
      }
    }
  }
}
// modal

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  &.show {
    display: block;
  }
}

.modal {
  background: #fff;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }

  header {
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 30px;
  }

  .content {
    min-height: 30px;
    padding: 5px 30px;
  }
}

@media (max-width: 767px) {
  /*small devices*/
  header {
    height: auto;
  }

  main.fullwidth .main,
  .main {
    margin-left: 90px;
  }

  .main-center {
    width: 100%;
  }

  .topbar {
    position: fixed;
  }
}

@media not all and (hover: none) {
  .topbar a:hover {
    background-color: $topbar-hover-color;
    opacity: 0.5;
  }
}
