// topbar
.topbar {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  border-bottom: 1px solid $border-color;
  z-index: 1;
}

.topbar header {
  float: right;
}

.topbar header img {
  width: 18px;
}

.topbar {
  ul {
    li {
      display: block;
      float: left;

      a {
        float: right;
        text-align: center;
        padding: 6px 16px;
        text-decoration: none;
        border-left: .5px solid $border-color;
        font-size: 20px;
        line-height: 42px;
        color: $paragraph-color;
        font-family: $roboto-font;
        font-weight: 400;

        span {
          margin-right: 9px;
          font-size: 16px;
        }

        &:hover {
          background-color: $border-color;
          color: $white-color;
        }

        &:active {
          color: $white-color;
        }
      }

      .topbar-paragraph {
        font-size: 13px;
        line-height: 42px;
        color: $name-color;
        font-family: $roboto-font;
        font-weight: 300;
      }

      .topbar-wallet {
        font-size: 20px;
        line-height: 42px;
        color: $paragraph-color;
        font-family: $roboto-font;
        font-weight: 400;
      }
    }
  }
}

@media(max-width: 767px) {
    /*small devices*/
    header {
        height: auto;
    }

    main.fullwidth .main,
    .main {
        margin-left: 90px;
    }

    .main-center {
        width: 100%;
    }

    .topbar {
        position: fixed;
    }
}

@media not all and (hover: none) {
    .topbar a:hover {
        background-color: $topbar-hover-color;
        opacity: .5;
    }
}
